*{
  margin: 0;
  padding: 0;
}
a,a:hover{
  color: #666;
  text-decoration: none;
}
ul li,
ol li{
  list-style: none;
}
html,body{
  font-size: 16px;
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
  overflow:hidden;
}
